{% extends 'theme.html' %}


{% block title %}
User Details
{% endblock title %}


{% block content %}

<div>
    <h2>{{ user.firstName }} {{ user.lastName }}</h2>
    <p>Email: {{ user.email }}</p>
    <p>Birth Date: {{ user.birthDate }}</p>
    <p>Location: {{ user.location }}</p>
    <p>Profile Image: <img src="{{ user.profilePicture }}" height="150" /></p>

    <h2>Experiences</h2>
    <ul>
        {% for experience in experiences %}
        <li>{{ experience.title }} at {{ experience.company }}</li>
        <p>{{ experience.description }}</p>
        {% endfor %}
    </ul>

    <h2>Education</h2>
    <ul>
        {% for education in educations %}
        <li>{{ education.degree }} in {{ education.fieldOfStudy }} at {{ education.school }}</li>
        <p>{{ education.description }}</p>
        {% endfor %}
    </ul>

    <h2>Skills</h2>
    <ul>
        {% for skill in skills %}
        <li>{{ skill.skillName }} ({{ skill.skillLevel }})</li>
        {% endfor %}
    </ul>

    <p>
        <a href="/helloapp/user/{{ user.pk }}/delete" class="btn btn-success m-5">Remove User</a>
    </p>

</div>

{% endblock content %}