{% extends 'theme.html' %}


{% block title %}
{{ object.appuser }}
{% endblock title %}


{% block content %}

{% if user.is_authenticated %}
    {% if user.appuser.profile == object %}
        <p><a href="/helloapp/user/home" class="btn btn-secondary">Account Settings</a></p>
    {% endif %}
    {% if user.appuser.profile != object %}
        {% if user.appuser.profile in object.follower_profiles %}
        <p><a href="/helloapp/follow/{{ object.pk }}/delete" class="btn btn-danger m-2">Unfollow</a></p>
        {% else %}
        <p><a href="/helloapp/follow/{{ object.pk }}" class="btn btn-success m-2">Follow</a></p>
        {% endif %}
    {% endif %}
{% endif %}

<div>
    {% if object.profile_picture %}
        <img src="{{ object.profile_picture.url }}" height="150" />
    {% endif %}
    <h2>About</h2>
    <p>Name: {{ object.firstName }} {{ object.lastName }}</p>
    <p>Email: {{ object.email }}</p>
    <p>Birth Date: {{ object.birthDate }}</p>
    <p>Location: {{ object.location }}</p>

    <h2>Experience</h2>
    <ul>
        {% for experience in object.experiences %}
        <li>{{experience.employmentType}} {{ experience.title }} at {{ experience.company }}</li>
        <p>Location: {{ experience.location }}</p>
        <p>Dates: {{ experience.startDate }} - {{ experience.endDate }}</p>
        <p>Desciption: {{ experience.description }}</p>
        {% endfor %}
    </ul>

    <h2>Education</h2>
    <ul>
        {% for education in object.educations %}
        <li>{{ education.degree }} in {{ education.fieldOfStudy }} at {{ education.school }}</li>
        <p>Graduated: {{ education.graduationDate }}</p>
        <p>Activities: {{ education.activities }}</p>
        <p>Description: {{ education.description }}</p>
        {% endfor %}
    </ul>

    <h2>Skills</h2>
    <ul>
        {% for skill in object.skills %}
        <li>{{ skill.skillName }} ({{ skill.skillLevel }})</li>
        {% endfor %}
    </ul>

    <h2>Following Profiles</h2>
    <ul>
      {% for profile in object.following_profiles %}
        <li><a href="/helloapp/profile/{{ profile.pk }}">{{ profile.appuser.user.username }}</a></li>
      {% empty %}
        <li>No profiles followed yet.</li>
      {% endfor %}
    </ul>
</div>

{% endblock content %}

{% block block2 %}
<div class="container m-5">
    <div class="card bg-light text-dark p-5">

        <h1 class="text-primary text-center">
            Posts
        </h1>

        <div>

            <ul>
                {% for post in object.posts %}
                <li><a href="/helloapp/profile/{{ post.profile.pk }}">{{ post.profile.appuser.user.username }}</a> - {{ post.timestamp }}</li>
                <p>{{ post.content }}</p>
                {% endfor %}
            </ul>
        
        </div>

    </div>
</div>
{% endblock block2 %}