{% extends 'theme.html' %}


{% block title %}
Account Guide
{% endblock title %}

{% block content %}


<h2>Creating and Managing Your Account</h2>
<div>
    <ol>
        <li>Click the Sign Up Button</li>
        <img src="\static\guideImages\Navbar-No-Auth.png" width = 1200>
        <li>Enter your information and click the Sign Up Button</li>
        <img src="\static\guideImages\Signup.png" width = 1200>
        <li>Enter your information and click the Log In Button</li>
        <img src="\static\guideImages\Login.png" width = 1200>
        <li>You may use the buttons in account details to delete your account or change your password.</li>
        <img src="\static\guideImages\Account-Details.png" width = 1200>
    </ol>
</div>
    

{% endblock content %}