{% extends 'theme.html' %}


{% block title %}
User Guide
{% endblock title %}

{% block content %}

<div id="userGuide">
    <h2>User Guide</h2>
    <ul>
        <li><a href="account-guide">Creating and managing your account</a></li>
        <li><a href="profile-guide">Creating and managing your profile</a></li>
        <li><a href="posts-guide">Creating and managing your posts</a></li>
        <li><a href="feed-guide">Following profiles and viewing your feed</a></li>
    </ul>
</div>

{% endblock content %}