{% load static %}
<nav class="navbar navbar-expand-sm navbar-dark bg-primary text-light">

    <div class="container">

        <nav class="navbar">
            <div class="container-fluid">
              <a class="navbar-brand" style="font-size: 45px !important" href="/">
                <img src="{% static '/images/company-logo.png' %}" alt="compnay logo" width="65" height="65" class="d-inline-block align-text-top">
                BridgeOut
              </a>
            </div>
        </nav>

        <ul class="navbar-nav text-light ml-auto">
            <li class="nav-item">
                <a class="nav-link text-light" href="{% url 'profile_list' %}">People</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link text-light" href="/helloapp/feed/">Feed</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/helloapp/profile/home">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/helloapp/post/add">Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{% url 'logout' %}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link  text-light " href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  text-light " href="{% url 'user_add' %}">Sign Up</a>
                </li>
            {% endif %}

        </ul>

    </div>

</nav>