{% extends 'theme.html' %}


{% block title %}
Account Details
{% endblock title %}


{% block content %}

<div>
    <h2><a href="/helloapp/profile/home">{{ object.user.username }}</a></h2>
    <p>Account created on {{ object.accountCreationDate }}</p>

    <div class="btn-group" role="group" aria-label="Edit Profile">
        <a href="/helloapp/profile/{{ object.pk }}/" class="btn btn-primary">Edit Profile</a>
        <a href="/helloapp/profile/{{ object.pk }}/addpic" class="btn btn-primary">Add Profile Picture</a>
        <a href="/helloapp/posts/{{ object.pk }}" class="btn btn-primary">Edit Posts</a>
    </div>
    <br><br>
    <div class="alert alert-danger" role="alert">
        Please administer caution when choosing either of the below options.
    </div>
    <br>
    <div class="btn-group" role="group" aria-label="Edit Account">
        <a href="/helloapp/user/{{ object.user.pk }}/delete" class="btn btn-danger">Delete Account</a>
        <a href="{% url 'password_change' %}" class="btn btn-warning">Change Password</a>
    </div>
</div>

{% endblock content %}